body{
	font-family: 'Playfair Display', serif;

}
#spacer{
	height:60px;
}
#who{
	padding-top: 8%;
	padding-bottom: 10%;
text-align: center;
background-color: #576F72;

}
#navigation{
	background-color: rgb(125, 157, 156, .9);
	padding-left: 3%;
	padding-right: 3%;

}
#profile{
	border-radius: 50%;
	width: 180px; 
	height: 180px;
}
#skills{
	background-color: rgb(228, 220, 207);

	padding-top: 4%;
	padding-bottom: 5%;

}
#skills img{
	width:150px;


	
}
#skills p{
	padding-left: 6%;
}
#certificates{
	padding-left: 0px;
	padding-right: 0px;
	background-color: rgb(228, 220, 207);

	padding-top: 4%;
	padding-bottom: 5%;

}
#certificates img{
	width:150px;
	height:140px;
	margin-left: 4%;
	border-radius: 15px;
	
}
#certificates p{
	text-align: left;
}
#compimage{
	float:left;
	padding-right: 2%;
}
#contact{
	text-align: center;
	background-color: #576F72;
}
#spacer{
	height: 20px;
}
#back-to-top{
	background-color: transparent;
	border: none;
	position: fixed;
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
    bottom: 12%;
    right: 2%;
    display: none;
    
}
#experience{
	background-color: #7D9D9C;
}
li.nav-item:hover{
    background-color:#576F72;
    border-radius: 10px;
}
h1, h4{
	text-align: center;
	color:white;
}
h2{
	
	text-align: center;


}
hr{

	width: 200px;
	margin:auto!important;
	padding-bottom: 4%;
	padding-top: 1%;
}
p{
	text-align: justify;
}
a{
	color: #253a3c;
}
a:hover{
	color: white;
}
.robot{
	position: fixed;
    right: 10px;
    top: 85%;
    width: 80px;
}
.third{

background-color: #7D9D9C;
    padding-top: 2%;
    padding-right: 10%;
    padding-left: 10%;

}

.btn{
	margin: 5px;
	background-color: #7D9D9C;
	border-color: #576F72;
	border-radius: 15px;
}

.backbutntop{
	width:50px;
	font-size:12px;
	position: fixed;
    bottom: 38%;
    right: 25%;
    z-index: 10;
    	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.container {
	width: 80%;
	margin:0 auto;
	overflow:auto;

}
.right-content, .left-content {
	float:left;
	display:block;
	width:50%;
	padding:1% 2%;
}
.left-content {
	border-right:5px dotted #666;	
	text-align:right;
}
.left-content p {
	margin:150px 0 0;
}
.right-content p {
	margin:80px 0 150px;
}
@media only screen and (max-width: 770px) {
#navigation{
	height: 14%;
	font-size: 2rem;
    text-align: right;
}
#skills{
	margin: auto;
	text-align: center;
}
#certificates{
	margin: auto;
	text-align: center;
}
#who{
	padding-top: 20%;
}
.navbar-brand {
    font-size: 1.1em!important;
}
.navbar-collapse{
background-color: rgb(125, 157, 156, .9);
}

.navbar-toggler{
    font-size: 1.2em;
}
.col-sm-6{
width:250px;
margin: auto;
text-align: center;
}



